html {
  font-size: 19px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Metropolis, sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 30px;
}

button {
  cursor: pointer;
}

.hide {
  position: fixed !important;
  top: -9999px !important;
  left: -9999px !important;
  width: 0;
  height: 0;
  overflow: hidden;
}

.body-text em {
  background: yellow;
}

::-moz-selection {
  /*--dark-blue*/
  color: #fff;
  background: #253655;
}

::selection {
  /*--dark-blue*/
  color: #fff;
  background: #253655;
}

.placeholder--country::placeholder {
  font-weight: bold;
  /*--dark-gray*/
  color: #959bac;
}

.placeholder--country:focus::placeholder {
  font-style: italic;
}

.placeholder--filter-text::placeholder {
  font-family: Metropolis;
  /* dark gray */
  color: #959bac;
}

.placeholder--login::placeholder {
  /* font-family: Metropolis; */
  /* dark gray */
  color: #959bac;
  font-weight: 100;
}

.metro {
  font-family: Metropolis;
}
.metro-b {
  font-family: MetropolisBold;
}
.metro-b-i {
  font-family: MetropolisBoldItalic;
}
.metro-i {
  font-family: MetropolisItalic;
}
.metro-sb {
  font-family: MetropolisSemiBold;
}

.w-05 {
  width: 5%;
}

.w-18 {
  width: 18%;
}

.w15rem {
  width: 15rem;
}

.w30rem {
  width: 30rem;
}

.min-h3rem {
  min-height: 3rem;
}

.h3rem {
  height: 3rem;
}
.options-menu {
  left: 100%;
  margin-left: -1.3rem;
  min-width: 9rem;
}
.top-125 {
  top: 125%;
}
.top-150 {
  top: 150%;
}

.translate-center {
  transform: translateX(-50%);
  left: 50%;
}

.disabled {
  cursor: not-allowed;
}

.flex-1 {
  flex: 1;
}

.checkbox__checkmark::after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: '';
  position: absolute;
  display: none;
}
.checkbox:checked ~ .checkbox__checkmark::after {
  display: block;
}
