html {
  font-size: 19px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Metropolis, sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 30px;
}

.body-text em {
  background: yellow;
}

::-moz-selection {
  /*--dark-blue*/
  color: #fff;
  background: #253655;
}

::selection {
  /*--dark-blue*/
  color: #fff;
  background: #253655;
}

.placeholder--country::placeholder {
  font-weight: bold;
  /*--dark-gray*/
  color: #959bac;
}

.placeholder--country:focus::placeholder {
  font-style: italic;
}

.placeholder--filter-text::placeholder {
  font-family: Metropolis;
  /* dark gray */
  color: #959bac;
}

.metro {
  font-family: Metropolis;
}
.metro-b {
  font-family: MetropolisBold;
}
.metro-b-i {
  font-family: MetropolisBoldItalic;
}
.metro-i {
  font-family: MetropolisItalic;
}
.metro-sb {
  font-family: MetropolisSemiBold;
}

.w-05 {
  width: 5%;
}

.w15rem {
  width: 15rem;
}

.w30rem {
  width: 30rem;
}

.min-h3rem {
  min-height: 3rem;
}

.top-125 {
  top: 125%;
}
.top-150 {
  top: 150%;
}

.translate-center {
  transform: translateX(-50%);
  left: 50%;
}

.checkbox__checkmark::after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: '';
  position: absolute;
  display: none;
}
.checkbox:checked ~ .checkbox__checkmark::after {
  display: block;
}

.disabled {
  cursor: not-allowed;
}

.search::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 1em;
  background-image: url('../assets/icons/search.svg');
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
}

.arrow-bullet:before {
  content: '';
  position: absolute;
  display: block;
  height: 1em;
  width: 1em;
  background-image: url('../assets/icons/right-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 7px;
}

.arrow-bullet--expanded:before {
  transform: rotate(90deg);
  transform-origin: 25% 35%;
  top: 11px;
}

.menu-dots {
  background-image: url('../assets/icons/menu-dots.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-dots--white {
  background-image: url('../assets/icons/menu-dots--white.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.close-icon {
  background-image: url('../assets/icons/remove--small.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.flex-1 {
  flex: 1;
}

.right--3 {
  right: -7rem;
}

.arrows--blue::after {
  background-image: url('../assets/icons/arrows--blue.svg');
}

.arrows--white::after {
  background-image: url('../assets/icons/arrows--white.svg');
}

.arrows::after {
  content: '';
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 0.8em;
  height: 100%;
  top: 0;
  right: 13px;
}

.category-card__submenu-btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0.8rem;
  /* 93% height seems to be right for icon size, and the relative text position */
  height: 93%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.category-card__submenu-btn--share::after {
  background-image: url('../assets/icons/share.svg');
}
.category-card__submenu-btn--remove::after {
  background-image: url('../assets/icons/trash.svg');
}
