@font-face {
    font-family: Metropolis;
    src: url(/assets/fonts/Metropolis/WOFF/Metropolis-Regular.woff);
}

@font-face {
    font-family: MetropolisBold;
    src: url(/assets/fonts/Metropolis/WOFF/Metropolis-Bold.woff);
}
@font-face {
    font-family: MetropolisBoldItalic;
    src: url(/assets/fonts/Metropolis/WOFF/Metropolis-BoldItalic.woff);
}
@font-face {
    font-family: MetropolisItalic;
    src: url(/assets/fonts/Metropolis/WOFF/Metropolis-RegularItalic.woff);
}
@font-face {
    font-family: MetropolisSemiBold;
    src: url(/assets/fonts/Metropolis/WOFF/Metropolis-SemiBold.woff);
}
